/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 1rem;
}

nav button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #0056b3;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

section {
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

input {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* tombol reset */
button[type="reset"] {
    background-color: #ff0000; 
}

button:hover {
    background-color: #0056b3;
}

#areaResult, #perimeterResult {
    margin-top: 1rem;
    background-color: #e9ecef;
    padding: 0.5rem;
    border-radius: 5px;
}

#areaFormContainer, #perimeterFormContainer {
    display: none;
}
